BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> a4f0e099b8ce

INSERT INTO alembic_version (version_num) VALUES ('a4f0e099b8ce') RETURNING alembic_version.version_num;

-- Running upgrade a4f0e099b8ce -> e83c7154353d

UPDATE alembic_version SET version_num='e83c7154353d' WHERE alembic_version.version_num = 'a4f0e099b8ce';

-- Running upgrade e83c7154353d -> 2cb754496682

UPDATE alembic_version SET version_num='2cb754496682' WHERE alembic_version.version_num = 'e83c7154353d';

-- Running upgrade 2cb754496682 -> 39566432c3f8

UPDATE alembic_version SET version_num='39566432c3f8' WHERE alembic_version.version_num = '2cb754496682';

COMMIT;

